@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<body>
    <div>
        <p>This is my portfoliosite, kinda of pet project where I publish completed test tasks given to me when I was looking for new emlooer or parts of job tasks. </p>
    </div>
    <div>
        <p>
            <p>Here is my <a href="https://github.com/Dmise"><span class="badge badge-info">git hub account page</span></a>.<p>
        </p>
    </div>
    

</body>

